<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca Digital</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAlPerfil()">Perfil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding class="product-item" *ngFor="let b of books">
      <ion-item>
        <ion-label>
          <div class="book-card">
            <h3 class="book-title">{{b.name}}</h3>
            <p class="book-author"><strong>Autor:</strong> {{b.autor}}</p>
            <p class="book-editorial"><strong>Editorial:</strong> {{b.editorial}}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="escanearCodigoQR()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button (click)="signOut()">
    Click me
  </ion-button>
</ion-content>
